body {
  margin: 0;
  overflow: hidden;
  background: #000;
  touch-action: none;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  background: #000;
}

#dpad {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}

.updown {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#dpad button {
  background: #333;
  border: 2px solid #fff;
  color: #fff;
  font-size: 22px;
  border-radius: 10px;
  width: 60px;
  height: 60px;
}

#muteBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 28px;
  border: none;
  background: none;
  color: white;
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle at center, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 70%);
  display: none;
}
