body {
    margin: 0;
    overflow: hidden;
    background: #000;
    touch-action: none;
    font-family: sans-serif;
}

/* TITLE SCREEN */
#titleScreen {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titleImage {
    width: 80%;
    max-width: 800px;
    margin-bottom: 40px;
}

#startButton {
    padding: 20px 50px;
    font-size: 32px;
    border-radius: 10px;
    border: none;
    background: #ffcc00;
    color: black;
}

/* CANVAS */
#gameCanvas {
    display: none;
    width: 100vw;
    height: 100vh;
    background: skyblue;
}

/* MOBILE CONTROLS */
#controls {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 10px;
}

#controls button {
    background: rgba(0,0,0,0.5);
    border: 2px solid white;
    color: white;
    font-size: 26px;
    border-radius: 12px;
    height: 70px;
}
